<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557214055798-lm7tathqt6t6mdduhc7c40teedqt9skl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557214055798-lm7tathqt6t6mdduhc7c40teedqt9skl</string>
	<key>API_KEY</key>
	<string>AIzaSyCT63giUx8HEqpmIOnZEGwCm9Ck_bmSbfo</string>
	<key>GCM_SENDER_ID</key>
	<string>557214055798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getlocation</string>
	<key>PROJECT_ID</key>
	<string>getlocation-16cba</string>
	<key>STORAGE_BUCKET</key>
	<string>getlocation-16cba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557214055798:ios:c3f8b30e220cc491e04e57</string>
</dict>
</plist>